aiofiles
bard
pornhub-api==0.2.0
aiohttp
asyncio
beautifulsoup4
blackpink
deepai
dnspython
ffmpeg-python
gitpython
hachoir
httpx
Faker
pydub
pycountry
heroku3
apscheduler
lyricsgenius
motor==3.0.0
pillow==9.5.0
psutil
wget
pyfiglet
qrcode
pytz
future==0.18.3
search_engine_parser
py-tgcalls==0.8.6
pykeyboard
pyshorteners
pyrogram==1.4.16
python-dotenv
pyyaml
numpy
requests
emojis
speedtest-cli
spotipy
tgcrypto
telegraph
unidecode
yt-dlp==2023.11.16
youtube-search
youtube-search-python
gtts
git+https://github.com/AsmSafone/SafoneAPI
lexica-api==1.4.7
httpx==0.25.2
gpytranslate
openai==0.28.0
git+https://github.com/KaalOS/downloader
git+https://github.com/Kaal-xD/kaal-search
git+https://github.com/Kaal-xD/kaal-speed-test
git+https://github.com/Kaal-xD/kaal-search-python
